*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
h1,
h2 {
  margin: 0;
}

ul[role='list'] {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f3d0ce;
}

li {
  padding: 15px;
  border-bottom: 1px solid #999;
}

li:last-child {
  border-bottom: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

input,
button {
  font: inherit;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

button,
input[type="submit"] {
  background-color: #4fc4cf;
  padding: 10px;
  color: #fffffe;
  border: none;
}

input[type="text"] {
  background-color: #f3d0ce;
  padding: 10px;
  width: 100%;
  border: none;
  cursor: pointer;
}

section {
  background-color: #f6efef;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.add-score > form {
  display: flex;
  order: 0;
  flex-direction: column;
  align-items: flex-start;
}

#submit-btn {
  align-self: flex-end;
}

.recent-scores {
  order: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recent-scores > header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  body {
    justify-content: space-between;
    align-items: flex-start;
  }

  main {
    flex-direction: row;
    align-items: center;
  }

  section {
    flex: 1;
  }

  .add-score {
    order: 1;
  }
}
